@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: #FFFAF4;
  font-family: 'Open Sans', sans-serif;
  color: #4C3D3D;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

h1 {
  font-family: 'Poppins';
  font-size: 30px;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #19A7CE;
}

a:hover {
  color: rgb(0, 0, 0);
}

h2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 19px;
  color: #394867;
  line-height: normal;
}

img {
  border-radius: 50%;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.card {
  padding: 3em;
  text-align: center;
  background-color: #F5EBE0;
  border: 1px solid #F5EBE0;
  margin: 1em;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

#call-to-action {
  background-color: #E1D7C6;
  padding: 10px;
  border-radius: 5px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 0.5em;
  font-size: 50px;
}

#bottom-card {
  padding: 1em;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 850px;
  }
}

@media (max-width: 840px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 580px;
  }
}

@media (max-width: 630px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 400px;
  }
}
